{% extends 'adm_template.html' %}
{% block content %}
<style>
    .card{
        text-align : left
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-dark">All Users</h4>
              </div>
              <div class="card-body">
                <form action="" method="GET">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="">Username:</label>
                            {{userFilter.form.username}}
                        </div>
                        <div class="col-lg-3">
                            <label for="">Staff Status:</label>
                            {{userFilter.form.is_staff}}
                        </div>
                        <div class="col-lg-3 pt-4">
                            <input type="submit" name="filter" value="Filter" class="btn btn-secondary" id="">
                            <input type="submit" name="filter" value="Clear"  class="btn btn-secondary" id="">
                        </div>
                    </div>
                </form>
              </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Staff Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if page_obj %}
                        {% for item in page_obj %}
                        <tr>
                            <td>{{page_obj.start_index|add:forloop.counter0}}</td>
                            <td>{{ item.username}}</td>
                            <td>{{ item.first_name}}</td>
                            <td>{{ item.last_name}}</td>
                            <td>
                                {% if item.is_staff == True %}
                                {{ "Yes"}}
                                {% else %}
                                {{ "No"}}
                                {% endif %}
                            </td>
                            
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                  </table>
                  {% include 'layout/pagination.html' %}
            </div>
          </div>
    </div>
    
</div>
{% endblock content %}